@import 'src/config/styles.scss';

.fx1 {
    width: 80px;
    height: 6px;
    background: $red;
    position: absolute;
    bottom: -30px;
    left: 0;

    &.right {
        right: 0;
        left: unset;
    }
}