@import "src/config/styles.scss";

.contact {
    color: $red;
    background: $bgGreyDark;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;

    ul li {
        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    .ml {
        text-align: center;
        color: $white;
        margin-top: 80px;
        font-family: $Oswald;
        text-transform: uppercase;
        letter-spacing: 5px;
        
        @media (max-width: 767px) {
            font-size: 12px;
        }
    }

    .insideContact {
        max-width: $max-width;
        width: 100%;
        margin: auto;
        position: relative;
        
        @media (max-width: 767px) {
            // max-width: 85%;
            // margin-right: 5%;
        }
    }

    button {
        margin-top: 45px;
        margin-left: 5%;
        
        @media (max-width: 767px) {
            margin-top: 10px;
        }
    }
}