@import "src/config/styles.scss";

.SideText {
    position: absolute;
    left: 0;
    top: 30px;
    color: $white;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
        font-family: $Lora;
        font-size: 15px;
    }

    &.right {
        right: 0;
        left: unset;
    }

    p {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 15px;
        line-height: 7.5px;
        color: $white;
        text-decoration: none;
        word-break: break-all;
    }

    .whiteBar {
        border-right: solid 1px $white;
        height: 100px;
        width: 0px;
    }
}