@import "src/config/styles.scss";

.selectedWorks {
    background: $bgGreyDark;
    width: 100%;
    padding-top: 60px;
    // padding-bottom: 100px;
    background: $bgGreyLight;
    position: relative;
    z-index: 2;

    .insideSelectedWorks {
        max-width: $max-width;
        width: 100%;
        margin: auto;
        position: relative;
        
        @media (max-width: 767px) {
            // max-width: 85%;
            // margin-right: 5%;
        }
    }

    .workzone {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        
        @media (max-width: 767px) {
            width: 85%;
            margin-right: 5%;
        }
    }

    .seeMore {
        color: white;
        font-family: $Oswald;
        text-align: center;
        font-size: 21px;
        letter-spacing: 1px;
    }

    .paragraph {
        color: $white;
        width: 90%;
        margin: auto;
        margin-top: 80px;
        font-family: $Lora;
        font-size: 17px;
        line-height: 24px;
        // filter: blur(20px);
        color: $white;
        line-height: 32px;
        
        @media (max-width: 767px) {
            width: 85%;
            margin-right: 5%;
        }
    }

    .canvas {
        background: $bgGreyLight;
        margin-top: 20px;
        margin: auto;

        canvas {
            margin: auto;
        }
    }
}