@import 'src/config/styles.scss';

.red_cta {
    background: $red;
    padding: 12px 60px;
    border: none;
    color: $white;
    font-family: $Oswald;
    font-size: 18px;
    text-transform: uppercase;
    transition: 0.3s all ease-out;

    &:hover {
        background: $white;
        color: $red;
    }
}