@import "src/config/styles.scss";

.aboutMe {
    color: $red;
    background: $bgGreyDark;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-top: 4000px;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
        padding-bottom: 40px;
        margin-top: 3200px;
    }

    .insideAboutMe {
        max-width: $max-width;
        width: 100%;
        margin: auto;
        position: relative;

        @media (max-width: 767px) {
            text-align: justify;
        }
    }

    button {
        margin-top: 45px;
        margin-left: 5%;

        @media (max-width: 767px) {
            margin-left: 10%;
        }
    }
}