@import "../config/styles.scss";

* {
    margin: 0;
    padding: 0;
    cursor: none!important;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*::-moz-selection { background: $red; }
*::selection { background: $red; }

body {
    background: $bgGreyLight;
}

.noise {
     /* ---NOISE ANIMATION---*/
  @keyframes noiseAnimation {
        0% {
            transform: translate(0)
        }
        10% {
            transform: translate(-5%,-5%)
        }
        20% {
            transform: translate(-10%,5%)
        }
        30% {
            transform: translate(5%,-10%)
        }
        40% {
            transform: translate(-5%,15%)
        }
        50% {
            transform: translate(-10%,5%)
        }
        60% {
            transform: translate(15%)
        }
        70% {
            transform: translateY(10%)
        }
        80% {
            transform: translate(-15%)
        }
        90% {
            transform: translate(10%,5%)
        }
        to {
            transform: translate(5%)
        }
    }


    &:after {
        content: "";
        pointer-events: none;
        will-change: transform;
        animation: noiseAnimation 2s steps(4) infinite;
        opacity: .2;
        background-image: url("/images/test.png");
        width: 200%;
        height: 200%;
        display: block;
        position: fixed;
        top: -50%;
        left: -50%;
        z-index: 10000000;
    }
}