// Colors
$red: #eb212f;
$white: #f2f0f0;
$bgGreyLight: #1b1c1c;
$bgGreyDark: #100f0f;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Oswald:200,400,700|Kanit:900&display=swap');

$Lora: 'Lora', serif;
$Oswald: 'Oswald', sans-serif;

// Margin, padding and widths
$max-width: 90%;
$insideWidth: 90%;

// Animations
@mixin fadeTransition {
    transition: all 0.2s ease-out;
}