@import 'src/config/styles.scss';

.titleBlock {
    position: relative;
    max-width: $insideWidth;
    width: 100%;
    margin: auto;
        
    @media (max-width: 767px) {
        max-width: 85%;
        margin-right: 5%;
    }
        
    @media (max-width: 767px) {
        text-align: left;
    }

    &.right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        
        @media (max-width: 767px) {
            text-align: right;
        }

        div {
            right: 0;
            left: unset;
        }
    }

    button {
        margin-top: 45px;
    }

    .subtitle, h1, p {
        color: $white;
        opacity: 0;
    }

    p {
        font-family: $Lora;
        font-size: 17px;
        line-height: 24px;
    }

    .paragraph p {
        max-width: $insideWidth;
        width: 100%;
        margin: auto;
        line-height: 32px;
        
        @media (max-width: 767px) {
            max-width: 85%;
            margin-right: 5%;
        }
    }

    .subtitle, h1 {
        font-family: $Oswald;
    }

    .subtitle {
        font-size: 30px;
        letter-spacing: 1px;
        filter: blur(20px);
        
        @media (max-width: 767px) {
            font-size: 25px;
        }
    }

    h1 {
        font-size: 100px;
        text-transform: uppercase;
        font-weight: 500;
        filter: blur(20px);
        
        @media (max-width: 767px) {
            font-size: 45px;
        }
    }
}