@import "src/config/styles.scss";

header {
    height: 110px;
    display: flex;
    align-items: center;
    width: 100vw;
    margin: auto;
    position: fixed;
    top: 0;
    transition: 0.3s all ease-out;
    transform-origin: 50% 100%;
    z-index: 3;
    
    a {
        display: contents;
    }

    .mainLogo {
        width: 50px;
        padding: 50px 0;
        margin-left: calc((100vw - #{$max-width})/2);
        
        @media (max-width: 767px) {
            margin-left: calc((100vw - 80%)/2);
        }
    }

    .nav {
        width: 100%;
        margin-right: calc((100vw - #{$max-width})/2);
        
        @media (max-width: 767px) {
            margin-left: calc((100vw - 80%)/2);
        }

        @include fadeTransition;

        @media (max-width: 767px) {
            display: none;
        }
        
        ul {
            display: flex;
            list-style: none;
            justify-content: flex-end;
            width: 100%;
            align-items: center;
            margin: 0;
            padding: 0;
    
            li {
                margin-right: 50px;

                a {
                    color: $white;
                    text-decoration: none;
                    font-family: $Lora;
                    font-size: 15px;
                    position: relative;
                    display: block;

                    &:hover {
                        @include fadeTransition;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        bottom: -4px;
                        left: 0;
                        background-color: $red;
                        visibility: hidden;
                        -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        transform-origin: 0% 50%;
                        -webkit-transition: all 0.2s ease-out 0s;
                        transition: all 0.2s ease-out 0s;
                    }

                    &:hover:before {
                        visibility: visible;
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }
            }

            li:last-of-type {
                margin-right: 0px;
            }
        }
    }
}