@import '../../config/styles.scss';

.canvas {
    border: none;

    canvas {
        pointer-events: none;
        max-width: 100%;
    }
}

.projectName {
    text-align: center;
    color: $white;
    text-transform: uppercase;
    font-family: $Oswald;
    font-weight: 500;
    margin-top: -30px;
    z-index: 10;
    position: relative;
    user-select: none;
        
    @media (max-width: 767px) {
        font-size: 18px;
    }
}

.dots {
    display: flex;
    justify-content: center;
    list-style: none;

    li div {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 10px;
        background: $white;
        margin-bottom: 50px;

        &.active {
            background: $red;
        }
    }
}