@import "src/config/styles.scss";

.paragraph {
    font-family: $Lora;
    font-size: 17px;
    line-height: 24px;
    margin-top: 50px;
    filter: blur(20px);
    color: $white;
    
    p {
    }
}

.paragraph {
    max-width: 90%;
    width: 100%;
    margin: auto;
    line-height: 32px;
    margin-top: 60px;
        
    @media (max-width: 767px) {
        max-width: 85%;
        margin-right: 5%;
    }

    strong {
        font-weight: bolder;
    }

    u {
        text-decoration: none;
        border-bottom: solid 2px $red;
    }
}