@import "src/config/styles.scss";

.homepageHeader {
    display: flex;
    align-items: flex-end;
    // height: 100vh;
    width: $max-width;
    margin: auto;
    // position: relative;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    .textIntro {
        color: $white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 180px;
        letter-spacing: 5px;
        font-family: "Kanit";
        text-transform: uppercase;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        user-select: none;
            
        @media (max-width: 1200px) {
            font-size: 110px;
        }        
        
        @media (max-width: 767px) {
            font-size: 40px
        }
    }

    .firstPanelScroll {
        background: $bgGreyDark;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform-origin: 100% 0;
        display: flex;
        align-items: center;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
        color: transparent;
        // will-change: clip-path, margin;
        overflow: hidden;

        .nameDiv {
            width: 100vw;
        }

        h1 {
            font-family: "Kanit";
            font-size: 180px;
            letter-spacing: 5px;
            text-transform: uppercase;
            color: $bgGreyDark;
            width: 100vw;
            text-align: center;
            display: block;
            user-select: none;
            
            @media (max-width: 1200px) {
                font-size: 110px;
            }        

            @media (max-width: 767px) {
                font-size: 40px
            }
        }
    }

    .secondPanelScroll {
        background: $bgGreyLight;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform-origin: 100% 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: transparent;
        clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
        will-change: clip-path, margin-left;

        h2 {
            font-family: "Kanit";
            font-size: 170px;
            letter-spacing: 5px;
            user-select: none;
            text-transform: uppercase;
            color: $red;
            display: inline-block;
            min-width: 100vw;
            margin-left: 200px;
        
            @media (max-width: 767px) {
                font-size: 70px
            }
        }
    }

    .socialMedias {
        display: flex;
        list-style: none;
        align-self: flex-end;
        padding-bottom: 30px;
        padding-left: 5%;
        z-index: 3;

        li {
            margin-left: 20px;

            a img {
                filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(5deg) brightness(103%) contrast(101%);   
                @include fadeTransition;
                width: 30px;
    
                &:hover {
                    filter: invert(24%) sepia(68%) saturate(4460%) hue-rotate(343deg) brightness(92%) contrast(101%);
                }
            }
        }

        li:first-of-type {
            margin-left: 0;
        }
    }

    .scrollDiv {
        position: absolute;
        right: 0;
        bottom: 0;
        color: $white;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5%;

        a {
            margin-bottom: 20px;
            font-size: 15px;
            line-height: 7.5px;
            animation-name: bounceText;
            color: $white;
            text-decoration: none;
            animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
            animation-duration: 2s;
            animation-iteration-count: infinite;

            @keyframes bounceText {
                0%   { transform: scale(1,1)      translateY(0); }
                10%  { transform: scale(1.1,.9)   translateY(0); }
                30%  { transform: scale(.9,1.1)   translateY(-40px); }
                50%  { transform: scale(1.05,.95) translateY(0); }
                57%  { transform: scale(1,1)      translateY(-3px); }
                64%  { transform: scale(1,1)      translateY(0); }
                100% { transform: scale(1,1)      translateY(0); }
            }
        }

        .whiteBar {
            border-right: solid 1px $white;
            height: 100px;
            width: 0px;
        }
    }
}