@import '../../config/styles.scss';

.cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background: $white;
    border-radius:25px;
    z-index: 100000;
    transition: transform 0.2s ease-in, background-color 0.2s ease-out, width 0.2s ease-in, height 0.2s ease-in;
    pointer-events: none;
        
    @media (max-width: 767px) {
        display: none;
    }

    .cursorExternal {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius:25px;
        border: solid 2px white;
        z-index: -9;
        // transform-origin: 50% 50%;
        top: -12.5px;
        left: -12.5px;
        padding: 10px;
        transition: transform 0s ease-out;
        display: none;

        &.active {
            display: initial;
            transform: scale(0);
            display: initial;
            border-color: $red;
            transition: transform 4s ease-out;
        
            @media (max-width: 767px) {
                display: none;
            }
        }
    }

    .hold {
        display: none;
        position: absolute;
        top: -24px;
        left: 24px;
        color: $white;
        font-family: $Oswald;
        
        @media (max-width: 767px) {
            display: none;
        }
    }
}

    

