@import 'src/config/styles.scss';

.contactList {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 90%;
    margin: auto;
    margin-top: 100px;
    text-align: right;
    color: $white;
        
    @media (max-width: 767px) {
        width: 85%;
        margin-right: 5%;
    }

    li {
        font-size: 21px;
        font-family: $Lora;
        margin-bottom: 3px;

        a {
            color: $white;
            text-decoration: none;
            transition: all 0.2s ease-out;

            &:hover {
                color: $red;
            }
        }

        h2 {
            font-size: 27px;
            font-weight: 50;
            font-family: $Lora;
        }
    }
}