@import 'src/config/styles.scss';

.work {
    position: relative;
    width: 90%;
    margin: auto;
    margin-top: 150px;
        
    @media (max-width: 767px) {
        width: 85%;
        margin-right: 5%;
    }

    .containerImage {
        position: relative;
        img {
            display: block;
            height: auto;
            width: 100%;
            height: 100%;
            filter: brightness(0.9);
        }

        &:hover .filter {
            // transform: scaleX(1);
            opacity: 0.8;
        }

        .filter {
            position: absolute;
            background: $red;
            z-index: 20;
            top: 0;
            left: 0;
            left: 0;
            opacity: 0;
            right: 0;
            height: 100%;
            width: 100%;
            // transform: scaleX(0);
            transition: 0.2s ease-out;
            transform-origin: 0% 50%;
        }
    }

    &[data-seed="1"] {
        margin-bottom: 100px;
        display: flex;
        align-items: flex-start;

        .containerImage {
            width: 40%;
        }

        .textZone {
            padding: 0px 0px 0px 50px;
            width: 60%;

            h2 {
                margin-bottom: 30px;
            }
        }
    }

    &[data-seed="2"] {
        margin-bottom: 100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;

        .containerImage {
            width: 40%;
        }

        .textZone {
            padding: 0px 50px 0px 0px;
            width: 60%;

            h2 {
                margin-bottom: 30px;
            }
        }
    }

    // &[data-seed="2"] {
    //     margin-bottom: 100px;
    //     margin-left: 20%;
    //     width: 80%;
    //     display: flex;
    //     flex-direction: column-reverse;
    //     justify-content: flex-start;
    //     align-items: flex-end;

    //     .textZone {
    //         display: flex;
    //         justify-content: flex-end;

    //         > div {
    //             width: 40%;
    //             margin-left: 25px;
    //         }

    //         button {
    //             position: absolute;
    //             bottom: -30px;
    //             left: calc(40% - 140px);
    //         }
    //     }

    //     img {
    //         margin-top: 45px;
    //         width: 60%;
    //     }
    // }

    .textZone {
        h2, p {
            color: $white;
        }

        h2 {
            font-family: $Oswald;
            font-weight: 500;
            font-size: 30px;
        }

        p {
            font-family: $Lora;
            font-size: 17px;
            line-height: 32px;
        }

        button {
            margin-top: 45px;
        }
    }
}